@import "../../scss/mixins.scss";

.link_form {
  position: relative;
  margin: 5rem 0 -9rem;
  padding: 3rem 2rem;
  background-color: hsl(257, 27%, 26%);
  background-image: url("https://res.cloudinary.com/mrphemi/image/upload/v1577817229/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 1rem;


  @media screen and (min-width: 1024px) {
    background-image: url("https://res.cloudinary.com/mrphemi/image/upload/v1577817228/bg-shorten-desktop.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 5rem;
    margin-bottom: -7rem;
  }

  .input_field {

    @media screen and (min-width: 1024px) {
      flex-basis: 70%;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: 80%;
    }
    
    input {
      display: block;
      width: 100%;
      padding: 1rem 0.5rem;
      border-radius: 0.7rem;
      font-size: 1.6rem;

      @media screen and (max-width: 360px){
        font-size: 1.4rem;
      }

      @media screen and (min-width: 1024px) {
        padding: 1rem 2rem;
      }

      &::placeholder {
        color: hsl(0, 0%, 75%);
      }

      &.has_error {
        border: 2px solid hsl(0, 87%, 67%);
        &::placeholder {
          color: lighten(hsl(0, 87%, 67%), 10);
        }
      }
      
    }
  }
  
  .error_msg {
    color: hsl(0, 87%, 67%);
    margin: 0;
    font-style: italic;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    order: 3;
  }

  button {
    @include btn-blue(0.7rem);
    margin-top: 2rem;
    display: block;

    @media screen and (min-width: 1024px) {
      flex-basis: 25%;
      margin-top: 0;
      display: inline;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: 15%;
    }
  }


}