@import "./base.scss";
@import "./helpers.scss";
// @import "./mixins.scss";

h1, h2, h3 {
  text-transform: capitalize;
  color: hsl(255, 11%, 22%);
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  @media screen and (max-width: 360px){
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.4rem;
  @media screen and (max-width: 360px){
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 2rem;
  @media screen and (max-width: 360px){
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.8rem;
  color: #bfbfbf;
  
  @media screen and (max-width: 360px){
    font-size: 1.6rem;
  }
  @media screen and (max-width: 320px){
    font-size: 1.4rem;
  }
}